<!doctype html>
<html ng-app="myapp">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title ng-bind="Movies">movies</title>
    <base href="/">



    <link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" href="./css/app.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css"  media="all" />


    <script  src="./js/jquery-2.2.3.min.js"></script>
    <script  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
    <script  src="./js/ng_route_ext.js"></script>







    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io();
    </script>


    <script src="./js/app.js"></script>



</head>

<body ng-controller="bodyCtrl" class="body">

<div class="wrap">
    <!----start-Header---->
    <div class="header">
        <!----start-Logo---->
        <div class="logo">
            <a href="index.html"><img src="images/logo.png" title="logo" /></a>
        </div>
        <!----End-Logo---->
        <!----start-top-nav---->
        <!--
        <div class="top-nav">
            <ul>
                <li><a href="index.html">Home</a><p>My Forntpage</p></li>
                <li><a href="#">About</a><p>About this blog</p></li>
                <li><a href="categories.html">Categories</a><p>Be Ur Self</p></li>
                <li><a href="#">Economics</a><p>Human Needs</p></li>
                <li><a href="#">Health</a><p>Take A Trip</p></li>
                <li><a href="contact.html">Contact</a><p>Leave Messages</p></li>
            </ul>
        </div>
        -->
        <div class="clear"> </div>
        <!----End-top-nav---->
    </div>
    <!----End-Header---->
    <div class="clear"> </div>

    <div class="clear"> </div>
    <div class="content">
        <div class="left-content">
            <div class="searchbar">
                <div class="search-left">
                    <p>Latest Video Form VideosTube</p>
                </div>
                <div class="search-right">
                        <input type="text" ng-model="searchInput"><input type="button" value="" ng-click="search()" />
                </div>
                <div class="clear"> </div>
            </div>
            <div class="box">
                <div ng-view></div>

            </div>
            <div class="clear"> </div>
            <!--
            <ul class="dc_pagination dc_paginationA dc_paginationA03">
                <li><a href="#" class="first">First</a></li>
                <li><a href="#" class="previous">Previous</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#" class="current">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#" class="next">Next</a></li>
                <li><a href="#" class="last">Last</a></li>

            </ul>
            <div class="clear"> </div>
            -->
        </div>
        <div class="right-content">
            <div><ul id="searches"></ul></div>
            <div class="clear"> </div>
            <div ng-controller="chat">
                <input type="text" ng-model="message">
                <input type="button" ng-click="send()" />

                <ul style="height: 400px; overflow: auto;" id="chatMessages">

                </ul>
            </div>
            <!--
            <div class="popular">
                <h3>Popular Videos</h3>
                <p><img src="images/l1.png" title="likes" /> 10,000</p>
                <div class="clear"> </div>
            </div>
            <div class="grid1">
                <h3>Consectetur adipisicing elit</h3>
                <a href="#"><img src="images/g7.jpg" title="video-name" /></a>
                <div class="time1">
                    <span>2:50</span>
                </div>

                <div class="grid-info">
                    <div class="video-share">
                        <ul>
                            <li><a href="#"><img src="images/likes.png" title="links" /></a></li>
                            <li><a href="#"><img src="images/link.png" title="Link" /></a></li>
                            <li><a href="#"><img src="images/views.png" title="Views" /></a></li>
                        </ul>
                    </div>
                    <div class="video-watch">
                        <a href="#">Watch Now</a>
                    </div>
                    <div class="clear"> </div>
                    <div class="lables">
                        <p>Labels:<a href="#">Lorem</a></p>
                    </div>
                </div>
            </div>
            <div class="clear"> </div>
            <div class="Recent-Vodeos">
                <h3>Recent-Videos</h3>
                <div class="video1">
                    <img src="images/r1.jpg" title="video2" />
                    <span>Lorem ipsum dolor sit amet,</span>
                    <p>s consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <div class="clear"> </div>
                </div>
                <div class="video1 video2">
                    <img src="images/r2.jpg" title="video2" />
                    <span>Lorem ipsum dolor sit amet,</span>
                    <p>s consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <div class="clear"> </div>
                </div>
                <div class="r-all">
                    <a href="#">View All</a>
                </div>
            </div>
            -->
        </div>
        <div class="clear"> </div>
    </div><!--end content -->
    <div class="clear"> </div>
</div>
<!--
<div class="footer">
    <div class="wrap">
        <div class="box1">
            <h4>Ur's Account</h4>
            <ul>
                <li><a href="#">My Channel</a></li>
                <li><a href="#">Subscribtion</a></li>
                <li><a href="#">Locations</a></li>
                <li><a href="#">Favorites</a></li>
                <li><a href="#">Add</a></li>
                <li><a href="#">Ur-specials</a></li>
                <li><a href="#">Submission Rules</a></li>
            </ul>
        </div>
        <div class="box1">
            <h4>Policy & Terms</h4>
            <ul>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Submission Rules</a></li>
                <li><a href="#">Company Buzz</a></li>
                <li><a href="#">My Staff</a></li>
                <li><a href="#">Moodle Hosting</a></li>
                <li><a href="#">OpenCart Hosting</a></li>
            </ul>
        </div>
        <div class="box1">
            <h4>Community</h4>
            <ul>
                <li><a href="#">Standard Support</a></li>
                <li><a href="#">Premier Support</a></li>
                <li><a href="#">Support Center</a></li>
                <li><a href="#">Host Affiliate</a></li>
                <li><a href="#">Infographics</a></li>
                <li><a href="#">indian Hosting</a></li>
                <li><a href="#">Green Web Hosting</a></li>
            </ul>
        </div>
        <div class="box1">
            <div class="hide-box">
                <h4>About Us</h4>
                <ul>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Guarantee</a></li>
                    <li><a href="#">Link to Us</a></li>
                    <li><a href="#">We're Hiring</a></li>
                </ul>
            </div>
        </div>
        <div class="box1">
            <h4>Stay in touch on</h4>
            <ul class="social">
                <li><img src="images/facebook.png" title="facebook"><a href="#">Facebook</a></li>
                <li><img src="images/twitter.png" title="twitter"><a href="#">Twitter</a></li>
                <li><img src="images/gplus.png" title="google+"><a href="#">Google+</a></li>
            </ul>
        </div>
        <div class="clear"> </div>
    </div>
</div>
<div class="clear"> </div>
<div class="copy-right">
    <p>&#169 2016 All rights Reserved | Powered by <a href="http://bsdsolutions.com">BSD Solutions</a></p>
</div>
</div>
-->
<!----End-wrap---->



<div id="loading"  class="bold-text"><i class="fa fa-spinner fa-pulse"></i>Loading...</div>



</body>
</html>
